<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1}">



<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .input-group {
            margin-bottom : 30px
        }
        .fieldError {
            color: #bd2130;
        }
    </style>
</th:block>

<div layout:fragment="content">


    <p class="h2">
        <span th:text="${boardFormDto.createdBy}"></span>님의 질문입니다.
    </p>
    <hr>
    <h4>
        제목: <span th:text="${boardFormDto.title}"></span>
    </h4>
    <p>
        내용: <span th:text="${boardFormDto.contents}"></span>
    </p>


    <div th:if="${boardFormDto.createdBy} == ${loginUser}">
        <form role="form" method="post" th:action="@{'/board/delete/'+${boardFormDto.id}}">
            <button type="submit" class="btn btn-primary">삭제</button>
            <button th:formaction="@{/board/edit/{boardId}(boardId=${boardFormDto.id})}" formmethod="get" type="submit" class="btn btn-primary">수정</button>
        </form>
    </div>


    <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
        <form action="boardContent.html" th:action="@{'/comment/write/'+${boardFormDto.id}}" method="post" th:object="${commentFormDto}">
            <div class="comment-form" style="text-align: center;">
                <div class="comment-form2" style="width:300px;height: 200px;display: inline-block">
                    <label for="content">댓글 달기</label>
                    <textarea th:field="*{comment}" class="form-control" id="content" name="content" rows="3"></textarea>
                    <button type="submit" class="btn btn-primary">작성</button>
                </div>
            </div>
        </form>
    </div>




</div>

</html>